<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="2.3.1" targetFramework="net40-client" />
  <package id="Nancy" version="1.4.3" targetFramework="net40-client" />
  <package id="xunit" version="1.9.2" targetFramework="net40-client" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net40-client" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net4-client" />
</packages>